/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    behaviors {
        gresc2: grave_escape2 {
            compatible = "zmk,behavior-mod-morph";
            label = "GRAVE_ESCAPE2";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// | `ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  INS  |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
// | BKSPC |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//               | ALT | GUI  | CTRL | LOWER|  SPACE |  | ENTER | RAISE| CTRL  | GUI   | ALT  |
            bindings = <
&gresc2   &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                         &kp N6     &kp N7    &kp N8    &kp N9   &kp N0   &kp INS
&kp TAB   &kp Q  &kp W    &kp E    &kp R     &kp T                          &kp Y      &kp U     &kp I     &kp O    &kp P    &kp BSLH
&bspc_del &kp A  &kp S    &kp D    &kp F     &kp G                          &kp H      &kp J     &kp K     &kp L    &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B      &kp C_MUTE  &none   &kp N      &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
                 &kp LALT &kp LGUI &kp LCTRL &mo LOWER  &kp SPACE   &kp RET &mo RAISE  &kp RCTRL &kp RGUI  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
// TODO: Some binds are waiting for shifted keycode support.
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// | `ESC  |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |  INS  |
// |       |     |     |      |      |      |                   | PGUP |  -    |  +    |  _   |   =   |       |
// | SHIFT |     |     |      |      |      |        |  |       | PGDN |  [    |  ]    |  {   |   }   | SHIFT |
//               | ALT | GUI  | CTRL |      |  SPACE |  | ENTER |ADJUST| CTRL  | GUI   | ALT  |
            bindings = <
&trans  &none  &none  &none  &none  &none                 &none      &none     &none    &none     &none     &none
&gresc2 &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                &kp N6     &kp N7    &kp N8   &kp N9    &kp N0    &kp INS
&trans  &none  &none  &none  &none  &none                 &kp PG_UP  &kp MINUS &kp PLUS &kp UNDER &kp EQUAL &none
&trans  &none  &none  &none  &none  &none  &trans  &trans &kp PG_DN  &kp LBKT  &kp RBKT &kp LBRC  &kp RBRC  &trans
               &trans &trans &trans &trans &trans  &trans &mo ADJUST &trans    &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |BTCLR  | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |       |     | HOME|   ^  |  END |      |                   | PGUP |       |       |      |       |       |
// | DEL   |     |  <- |   v  |  ->  |      |                   | PGDN |       |       |      |       |       |
// | SHIFT |     |     |      |      |      |        |  |       |      |       |       |      |       | SHIFT |
//               | ALT | GUI  | CTRL |ADJUST|  SPACE |  | ENTER |      | CTRL  | GUI   | ALT  |
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                &none  &none  &none  &none  &none  &none
&trans     &none        &kp HOME     &kp UP       &kp END      &none                       &none  &none  &none  &none  &none  &none
&kp DEL    &none        &kp LEFT     &kp DOWN     &kp RIGHT    &none                       &none  &none  &none  &none  &none  &none
&trans     &none        &none        &none        &none        &none        &none   &none  &none  &none  &none  &none  &none  &trans
                        &trans       &trans       &trans       &mo ADJUST   &trans  &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        adjust_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |  F1   | F2  | F3  |  F4  |  F5  |  F6  |        |  |       |  F7  |  F8   |  F9   | F10  |  F11  |  F12  |
//               | ALT | GUI  | CTRL | LOWER|  SPACE |  | ENTER | RAISE| CTRL  | GUI   | ALT  |
            bindings = <
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none   &none
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none   &none   &none
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none   &none   &none
&kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &none  &none  &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
              &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
